<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>141926437753-m23ls9dnnlofqq1gj4dvve9v61rdm1hi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.141926437753-m23ls9dnnlofqq1gj4dvve9v61rdm1hi</string>
	<key>API_KEY</key>
	<string>AIzaSyBbDwzY2cM_CfvXqdj82xvlUAWlanShqog</string>
	<key>GCM_SENDER_ID</key>
	<string>141926437753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firestore</string>
	<key>PROJECT_ID</key>
	<string>fluttermpta</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttermpta.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:141926437753:ios:51af6199db1d72a625d5a8</string>
</dict>
</plist>